

<header>
    <div class="titlepage"><h1>{{title}}</h1>  <img class="im1" src="/images/cloudy.png" alt=""> <br></div>
    <br>
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</header>